body{
    font-size: medium;
    font-family: cursive;
}

#intro{
    font-family: fantasy;
}

h1{
    font-size: 1.5em;
    color: #444;
    text-decoration: dashed;
}

p{
    font-family: cursive;
}

em{
    font-weight: 800;
    font-style: italic;
    font-size: 1.2em;
}


span.games{
    background-color: #e6ccff;
    width: 200px;
    height: 200px;
    line-height: 200px;
    padding: 2em;
    border-radius: 1.2em;
    border-style: double;
    margin: 1.2em;
    border-color: azure;
}

#wish{
    color: #990066;
}

#all_the_best{
    line-height: 2;
    text-align:left;

}
img{
    text-align: right;
    width: 200px;
}

div{
    border-top:#444 10px;
    background-color: bisque;
}
