body{
    font-size: medium;
    font-family: cursive;
}

#intro{
    font-family: fantasy;
}

.games{
    background-color: cadetblue;
}

h1{
    font-size: 1.5em;
    color: #444;
    text-decoration: dashed;
}

p{
    font-family: cursive;
}

em{
    font-weight: 800;
    font-style: italic;
    font-size: 1.2em;
}

.games{
    padding: 1.2em;
    border-radius: 1.3em;
    border-style: double;
    margin: 1.2em;
    border-color: azure;
    margin-right: 15em;
}