body{
    background-color: azure;
    font-size: medium;
    font-family: cursive;
    border:5px double #444;
    margin: 10px;
    padding: 10px;
}

#intro{
    font-family: "last ninja", Impact, fantasy ;
    text-decoration: underline dotted #333;
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

em{
    font-weight: bolder;
    font-size: larger;
    color: chocolate;
    font-style: italic;
}

.games{
    padding: 60px 30px;
    margin: 1.2em;
    background-color: #c4b3e0;
    line-height: 11;
    border-radius: 1.1em;
    border-style: solid;
    border-color: #22b3b3;
}

#wish{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #990066;
}

#all_the_best{
    height: 200px;
    line-height: 2;
    text-align: center;
    width: 200px;
    background:  url("images/5de.gif") no-repeat;

}

img{
    
    float:right;
}

div#projects{
    width: 94%;
    padding: 10px;
    margin: 10px;
    border: 3px dashed #22b3b3 ;
    background-color: rgb(247, 236, 247);
}